footer {
	background-color: $background-color_1;
}
.footer {
	padding-top: 24px;
	padding-bottom: 16px;
}
h6 {
	font-size: small;
	color: $color_2;
	text-align: center;
	font-weight: lighter;
}
.strongjp {
	font-weight: bold;
}
