/* HOME */
.imgportada {
	width: 100%;
}
.amortitulo {
	color: $color_1;
}
h1 {
	font-size: 24px;
	margin: 16px;
}

.opinion {
	text-align: center;
	margin-top: 24px;
	color: $color_1;
	letter-spacing: 16px;
	font-family: $font-family_1;
	font-weight: bold;
}

.opinionTexto {
	color: $color_2;
	text-align: center;
}

@mixin flex-spbtn-center {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#opiniones {
	@include flex-spbtn-center;
}
.box {
	margin: 24px;
	padding: 16px;
	border-radius: 16px;
	border: 1px solid rgb(48, 48, 48);
	background-color: $background-color_2;
}
.box:hover {
	font-weight: 500;
}

.Nombre {
	text-align: center;
	color: $color_2;
}

/* Sobre mi */
/* Contactanos */
h4 {
	font-size: 22px;
	margin-top: 24px;
	margin-left: 16px;
}
.card {
	margin: 16px;
}
.todos {
	display: flex;
	align-items: end;
}
h5 {
	font-size: 18px;
}
p {
	font-size: 14px;
}
.btn {
	display: flex;
	align-items: center;
}
.Sobremi {
	display: flex;
	align-items: center;
	margin: 16px;
}
.fotoperfil {
	width: 400px;
	height: 400px;
}
.jessica {
	margin-left: 16px;
}
.bio {
	margin: 16px;
	text-align: justify;
	width: 60%;
}
.form {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-left: 16px;
	margin-top: 16px;
}

.input {
	width: 50%;
}
.btnform {
	background-color: $background-color_2;
	color: $color_2;
	border-radius: 6px;
	margin-bottom: 24px;
}

/*ubicacion*/

.ubicacion {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.Map {
	margin-bottom: 16px;
	border-radius: 8px;
}


/*productos - todos*/

.todos {
	display: flex;
	align-items: flex-start;
}