

@media (max-width: 720px) {
	#opiniones {
		flex-wrap: wrap;
	}
	.opinion {
		letter-spacing: 5px;
	}
	.tituloIndex {
		text-align: center;
	}
	.todos {
		flex-wrap: wrap;
	}
	.Sobremi {
		flex-wrap: wrap;
	}

}

@media (max-width: 520px){
	.input{
	width: 90%;
	}
}
