
$color_1: rgb(241, 131, 255);
$color_2: aliceblue;
$color_3: rgb(214, 27, 168);
$font-family_1: 'Times New Roman', Times, serif;
$background-color_1: rgb(137, 105, 167);
$background-color_2: rgb(95, 47, 141);